@font-face {
    font-family: asli;
    src: url(../fonts/AAmine.ttf);
}

@font-face {
    font-family: dovom;
    src: url(../fonts/zarghan.ttf);
}

//@font-face {
//    font-family: sevom;
//    src: url(../fonts/vazir-FD.ttf);
//}
//@font-face {
//    font-family: charom;
//    src: url(../fonts/vazir-WOL.ttf);
//}


a {
    text-decoration: none;
    color: $text-black-l;
}

.image-head {
    font-family: asli;
    font-size: 2em;
    color: $text-yellow-main;
    text-decoration: none;
    z-index: 2;
}
.f-left{
    padding-left: 10vw;
    float: left;
    @include media(tablet) {

        padding-left: 10vw;
    }
}
.f-right{
    padding-right: 10vw;
    float: right;
    @include media(tablet) {

        padding-right: 10vw;
    }
}





.arrow {
    width: 20px;
    height: 20px;
}
