.head-intro {

    @include flex-display(flex, column, center, 100%, center);

    img {
        max-width: 100%;
        height: auto;
    }
    .image-head-slog {
        font-family: asli;
        font-size: 2em;
        color: #fff;
        text-decoration: none;
        margin: 0;
    }
    .image-head-company {
        font-family: asli;
        font-size: 4em;
        color: #fff;
        text-decoration: none;
    }
}



.main {
    //padding-top: 5em;
    width: 100%;
    margin: auto;
    //background: url("../img/cat-back.svg") no-repeat;
    //background-size: 100%;
    //background-position: top ;

}

.sub-title {
    text-align: center;
    @include font-fam-size( 3em, asli, bold, $text-black-m);

    margin: auto;

}

#genre{
    background: url("../img/cat-back.svg") no-repeat;
    background-size: cover;
    height: 30vh;
    margin-bottom: 1em 0;
    @include flex-display(flex, row, center, 100%);
    div{margin: auto}



}

.genres {
    @include flex-display(flex, row, center, 100%);
    list-style: none;
    padding: 0;

    .active a {
        //color: $text-yellow-main;
        font-size: 1.7em;
    }
    li button:focus,
    li button:hover {
        transition-duration: .7s;
      outline:0;
    }
    li button {
      background: url("../img/button/button.png") no-repeat center;
      background-size: 100%;
        border: none;
      padding: 10px;



        margin: 10px;
        @include font-fam-size( 1em, asli, bold, $text-black-m);
    }
}

.group {
    // transition-duration: 2s;
    @include flex-display(flex, column, space-between, 100%, center);
    .itemha {
        @include flex-display(flex, column, space-between, 70%, center);
        padding: 10px 0;
        border-bottom: 2px solid #BFBFBF;
        img {
            max-width: 100%;
            height: auto;
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 20px;
        }
        .item-detail {
            @include flex-display(flex, row, space-between, 50%, center);
            span {
                @include font-fam-size( 1em, sevom, bold, $text-black-m);
            }
            .item-name {
                @include font-fam-size( 1em, charom, bold, $text-black-m);
            }
        }
    }
}


.home-genres{
     @include flex-display(flex, row, space-evenly, 100%, center);
     flex-wrap:wrap;
     padding:15px 0;
     background-color:$text-black;

      .home-genres-title{
        @include font-fam-size( 1em, asli, bold, $text-yellow-main);
        width:100%;
        h2{
            margin: auto;
            text-align:center;
            
        }
    }

    .home-genre-item{
        @include flex-display(flex, column, space-evenly, 40%, center);
       
        border: 2px solid $text-yellow-main;
        padding:8px;
        margin:25px 0;
        a{
             @include font-fam-size( 1.3em, asli, bold, $text-yellow-main);
            width: 100%;
            text-align: center;


        }
    }
   

}




.gallery-wrapper {
    @include flex-display(flex, column, space-evenly, 100%, center); // padding:0 10px;
    // flex-wrap: wrap;
    .gallery-item {
        @include flex-display(flex, row, space-evenly, 100%);
        border-bottom: 1px solid $text-black-l;
        .item-img {
            width:50%;
            margin: auto;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .item-title {
            @include flex-display(flex, column, space-evenly, 50%, center); 
            @include font-fam-size( 1.1em, asli, bold, $text-black-l);
            padding: 40px 0;
            span{
                @include font-fam-size( 1em, asli, bold, $text-black-m);
            }
            
        }
    }
}

.table_wrapper {
    @include flex-display(flex, column, space-between, 100%, center);
    padding: 1em 0;
    .aks_preview {
        padding: 1em 0;
        max-width: 100%;
        height: auto;
    }

    tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    tr:nth-child(odd) {
        background-color: #f5f5f5;
    }
    td {

        padding: 10px;
    }
    th {
        font-weight: 400;
        padding: 10px;
        text-align: center; // background-color: #f5f5f5;
    }
    th {
        @include font-fam-size( 1.2em, asli, bold, $text-black-m);
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
    td,
    th {
        text-align: center;
    }
}


.product-showcase{
    @include flex-display(flex, column, flex-start, 100%, center);
    & :nth-child(1) { order: 1; }
    & :nth-child(2) { order: 2; }
    & :nth-child(3) { order: 4; }
    & :nth-child(4) { order: 3; }
    & :nth-child(5) { order: 5; }
    & :nth-child(6) { order: 6; }
    & :nth-child(7) { order: 8; }
    & :nth-child(8) { order: 7; }


    @include media(tablet) {
        @include flex-display(flex, row, space-between, 100%, center);
        flex-wrap: wrap;

        & :nth-child(1) { order: 1; }
        & :nth-child(2) { order: 2; }
        & :nth-child(3) { order: 3; }
        & :nth-child(4) { order: 4; }
        & :nth-child(5) { order: 5; }
        & :nth-child(6) { order: 6; }
        & :nth-child(7) { order: 7; }
        & :nth-child(8) { order: 8; }
    }
}





.axs0 {
    background: url("../img/home-jadval.png") no-repeat center;
    background-size: cover;
}

.axs1 {
    background: url("../img/home-blook.png") no-repeat center;
    background-size: cover;
}
.axs2 {
    background: url("../img/home-kafpoosh.png") no-repeat center;
    background-size: cover;
}

.axs3 {
    background: url("../img/home-dal.png") no-repeat center;
    background-size: cover;
}
.axs4 {
    background: url("../img/home-mozayik.png") no-repeat center;
    background-size: cover;
}

.axs5 {
    background: url("../img/home-kaval.png") no-repeat center;
    background-size: cover;
}
.axs6 {
    background: url("../img/home-mobleman.png") no-repeat center;
    background-size: cover;
}

.axs7 {
    background: url("../img/home-nj.png") no-repeat center;
    background-size: cover;
}





.col-feature {
    // background-size: cover;
    @include flex-display(flex,
    column,
    space-between,
    100%,
    center);
    height: 50vh;
    a {
        width: 100%;
        flex: 1;

    }
    @include media(tablet) {
        width: 50%;

    }

}


.contact {
    @include flex-display(flex,
    column,
    space-between,
    90%,
    center);




    .top-nav {
        width: 100%;
        padding: 20px 0;
        border-bottom: 2px solid #000; // #BFBFBF
        text-align: center;
        a {
            @include font-fam-size( 1em,
            asli,
            bold,
            $text-black-m);
        }
    }
    .contact-info {
        font-family: asli;
        padding: 30px 0; // border-bottom: 2px solid #BFBFBF;
        text-align: center;
        h4 a {
            @include font-fam-size( 0.9em,
            -apple-,
            bold,
            $text-black-m);
        }
        span {
            @include font-fam-size( 1em,
            asli,
            bold,
            $text-yellow-main);
        }
    }
}

.jabeja {
    @include background('../img/chideman.jpg',
    40% 50%,
    no-repeat,
    414px 550px) @include media(landscape) {
        @include background('../img/pars-jadval.jpg',
        center,
        no-repeat,
        cover)
    }
}