.head-intro {

    @include flex-display(flex, column, center, 100%, center);

    img {
        max-width: 100%;
        height: auto;
        width:100%;
    }
    .image-head-slog {
        font-family: asli;
        font-size: 2em;
        color: #fff;
        text-decoration: none;
        margin: 0;
    }
    .image-head-company {
        font-family: asli;
        font-size: 4em;
        color: #fff;
        text-decoration: none;
    }
}



.main {
    width: 100%;
    margin: auto;
}

////////////CATALOG HEADER STYLES WITH TRANSLATION STYLES

.catalog-header-farsi{
    padding: 3em 0;
    @include flex-display(flex, column, center, 100%);
    .catalog-header__title{
        margin: auto;
        .catalog-header__title_info {
            text-align: center;
            @include font-fam-size( 4em, asli, bold, $hard-gray);
            margin: auto;
        }
    }
}
.catalog-header-english{
    padding: 3em 0;
    @include flex-display(flex, column, center, 100%);
    .catalog-header__title{
        margin: auto;
        .catalog-header__title_info {
            text-align: center;
            @include font-fam-size( 4em, $main-font-2, bold, $hard-gray);
            margin: auto;
        }
    }
}

.catalog-header__genres {
    @include flex-display(flex, row, space-around, 100%);
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    @include media(tablet) {
        margin:auto;
        width: 70%;
    }
    .catalog-header__genres_navigation  {
         width: 25%;
         border:1px solid #fabb00; border-radius: 20px;
         padding: 10px 0;
         text-decoration:none; display:flex;
         color: #FFFFFF;
         background-color: #FFCC33; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFCC33), to(#CC9933));
         background-image: -webkit-linear-gradient(top, #FFCC33, #CC9933);
         background-image: -moz-linear-gradient(top, #FFCC33, #CC9933);
         background-image: -ms-linear-gradient(top, #FFCC33, #CC9933);
         background-image: -o-linear-gradient(top, #FFCC33, #CC9933);
         background-image: linear-gradient(to bottom, #FFCC33, #CC9933);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCC33, endColorstr=#CC9933);
         //margin: auto;
     }
    .catalog-header__genres_navigation--active{
        width: 25%;
        border:1px solid #fabb00; border-radius: 20px;
        padding: 10px 0;
        text-decoration:none; display:flex;
        background-color: #FFCC33; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFCC33), to($active-color));
        background-image: -webkit-linear-gradient(top, #FFCC33, $active-color);
        background-image: -moz-linear-gradient(top, #FFCC33, $active-color);
        background-image: -ms-linear-gradient(top, #FFCC33, $active-color);
        background-image: -o-linear-gradient(top, #FFCC33, $active-color);
        background-image: linear-gradient(to bottom, #FFCC33, $active-color);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCC33, endColorstr=$active-color);
        transition: all .5s ease-in-out;
    }


      .catalog-header__genres_navigation--btn-farsi{
          @include font-fam-size( 1em, asli, bold, $hard-gray );
          width: 100%;
        text-align: center;
      }
    .catalog-header__genres_navigation--btn-farsi .active{
            transition: all .5s ease-in;
            font-size: 1.1em;
            color: $hard-gray;
        }
    .catalog-header__genres_navigation--btn-english {
        @include font-fam-size( 1em, $main-font-2, bold, $hard-gray );
        width: 100%;
        text-align: center;
    }
    .catalog-header__genres_navigation--btn-english .active{
        transition: all .5s ease-in;
        font-size: 1.1em;
        color: $hard-gray;
    }

}




.home-genres{
     @include flex-display(flex, row, space-evenly, 100%, center);
     flex-wrap:wrap;
     padding:15px 0;
     background-color:$text-black;




    .home-genre-item{
        @include flex-display(flex, column, space-evenly, 40%, center);
        background-color:  $light-grey;
       
        border: 1px solid $hard-gray-l;
        padding:8px;
        margin:25px 0;
        a{
             @include font-fam-size( 1.3em, dovom, bold, $text-yellow-main);
            width: 100%;
            text-align: center;


        }
    }
   

}
.home-genres-title{
    @include font-fam-size( 1em, asli, bold, $text-yellow-main);
    width:88%;
    padding: 1em 0 ;

    background-color: $hard-gray-l;

    h2{
        margin: auto;
        text-align:center;

    }
}




.gallery-wrapper {
    @include flex-display(flex, column, space-evenly, 100%, center); // padding:0 10px;
    // flex-wrap: wrap;

    .gallery-item {
        @include flex-display(flex, row, space-evenly, 100%);
        border-bottom: 1px solid $text-black-m;
        .gallery-item__img {
            width:50%;
            margin: auto;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}
.group {
    // transition-duration: 2s;
    @include flex-display(flex, row, space-between, 100%, center);
    flex-wrap: wrap;
    .itemha {
        @include flex-display(flex, column, space-between, 70%, center);
        padding: 10px 0;
        border-bottom: 2px solid #BFBFBF;
        img {
            max-width: 100%;
            height: auto;
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 20px;
        }
        .item-detail {
            @include flex-display(flex, row, space-between, 50%, center);
            span {
                @include font-fam-size( 1em, sevom, bold, $text-black-m);
            }
            .item-name {
                @include font-fam-size( 1em, charom, bold, $text-black-m);
            }
        }
    }
}



////// IMAGE GALLERY PRODUCTS STYLE incuding LANG TRANSLATED STYLES


.gallery-item__title--fa {
    @include flex-display(flex, column, space-evenly, 50%, center);
    @include font-fam-size( 1.1em, dovom, bold, $text-black-m);
    padding: 40px 0;
    .gallery-item__title_info--fa{
        @include font-fam-size( 1em, dovom, bold, $text-black-m);
        margin: 2px;
        span{
            @include font-fam-size( 1em, dovom, bold, $text-gray-m );
        }

    }
}
.gallery-item__title--en {
    @include flex-display(flex, column, space-evenly, 50%, center);
    @include font-fam-size( 1.1em, $main-font-2, bold, $text-black-m);
    padding: 40px 0;
    .gallery-item__title_info--en{
        @include font-fam-size( 1em, $main-font-1, bold, $text-black-m);
        margin: 2px;
        span{
            @include font-fam-size( 1em, $main-font-2, bold, $text-gray-m );
        }

    }
}


///////
.table_wrapper {
    @include flex-display(flex, column, space-between, 100%, center);
    padding: 1em 0;
    @include media(tablet) {
        margin:auto;

        width: 100%;
    }

    .aks_table{
        @include media(tablet) {
            margin:auto;

            width: 70%;
        }

        .aks_preview {
            padding: 1em 0;
            max-width: 100%;
            height: auto;
            @include media(tablet) {
                margin: auto;
                //width: 50%;
            }
        }
    }


    tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    tr:nth-child(odd) {
        background-color: #f5f5f5;
    }
    td {

        padding: 10px;
    }
    th {
        font-weight: 400;
        padding: 10px;
        text-align: center; // background-color: #f5f5f5;
    }
    th {
        @include font-fam-size( 1.2em, asli, bold, $text-black-m);
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
    td,
    th {
        text-align: center;
    }
}


.product-showcase{
    @include flex-display(flex, column, flex-start, 100%, center);
    & :nth-child(1) { order: 1; }
    & :nth-child(2) { order: 2; }
    & :nth-child(3) { order: 4; }
    & :nth-child(4) { order: 3; }
    & :nth-child(5) { order: 5; }
    & :nth-child(6) { order: 6; }
    & :nth-child(7) { order: 8; }
    & :nth-child(8) { order: 7; }


    @include media(tablet) {
        @include flex-display(flex, row, space-between, 100%, center);
        flex-wrap: wrap;

        & :nth-child(1) { order: 1; }
        & :nth-child(2) { order: 2; }
        & :nth-child(3) { order: 3; }
        & :nth-child(4) { order: 4; }
        & :nth-child(5) { order: 5; }
        & :nth-child(6) { order: 6; }
        & :nth-child(7) { order: 7; }
        & :nth-child(8) { order: 8; }
    }
}








.col-feature {
    // background-size: cover;
    @include flex-display(flex,
    column,
    space-between,
    100%,
    center);
    height: auto;
    a {
        position: relative;

        img{

            width: 100%;
            height: auto;
        }
        .image-head{
            position: absolute;
            top: .5em;
            z-index: 0;

        }
        .image-head.f-right{
            left: 2em;
        }
        .image-head.f-left{
            right: 2em;
        }

    }
    @include media(tablet) {
        width: 50%;


    }
    @include media(laptop) {



    }
    @include media(desktop) {



    }

}
.col-feature.farsi{
    a{
        .image-head{
            @include font-fam-size(2em, asli, 400, $text-yellow-main);

        }
    }


}
.col-feature.english{
    a{
        .image-head{
            @include font-fam-size(2em, $main-font-2, 400, $text-yellow-main);

        }
    }


}




.contact {
    @include flex-display(flex,
    column,
    space-between,
    90%,
    center);




    .top-nav {
        width: 100%;
        padding: 20px 0;
        border-bottom: 2px solid $light-gray-l;
        text-align: center;
        a {
            @include font-fam-size( 1em,
            asli,
            bold,
                    $hard-gray-l);
        }
    }
    .contact-fa {
        font-family: asli;
        padding: 30px 0; // border-bottom: 2px solid #BFBFBF;
        text-align: center;
       .contact-fa__line {

            color: $hard-gray;
            a{
                @include font-fam-size( 0.9em,
                        -apple-,
                        bold,
                        $hard-gray);
            }
        }
        span {
            @include font-fam-size( 1em,
            asli,
            bold,
            $text-yellow-main);
        }
    }
    .contact-en{


        @include font-fam-size( 1em,
                $main-font-1,
                bold,
                $text-yellow-main);
        padding: 30px 0; // border-bottom: 2px solid #BFBFBF;
        text-align: center;
        .contact-en__line {
            color: $hard-gray;
            a{
                @include font-fam-size( 0.9em,
                        $main-font-1,
                        bold,
                        $hard-gray);
            }
        }
        span {
            @include font-fam-size( 1.2em,
                    $main-font-2,
                    bold,
                    $text-yellow-main);
        }
        .contact-en__line.address{
            @include font-fam-size( 1em,
                    $main-font-1,
                    bold,
                    $hard-gray);

        }


    }
}

